<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <h1>We're being maintained</h1>
    <p>We'll be right back, folks!</p>
    {{> footer}}
  </body>
</html>
